<div class="follow-me">
  {%- if locale == 'nl' -%}
    <p>Je kunt mij ook vinden op:</p>
  {%- else -%}
    <p>Follow me at:</p>
  {%- endif -%}
  <ul class="follow-list">
    <li class="follow-list__item">{{ 'mastodon.svg' | getInlineSVG | safe }}
      <a class="mastodon" href="https://mastodon.social/@robinbakker" title="Mastodon" rel="me noopener" target="_blank">Mastodon</a>
    </li>
    <li class="follow-list__item">{{ 'bluesky.svg' | getInlineSVG | safe }}
      <a class="twitter" href="https://bsky.app/profile/robinbakker.bsky.social" title="Bluesky" rel="me noopener" target="_blank">Bluesky</a>
    </li>
    <li class="follow-list__item">{{ 'twitter.svg' | getInlineSVG | safe }}
      <a class="twitter" href="https://twitter.com/robinbakker" title="Twitter" rel="me noopener" target="_blank">Twitter</a>
    </li>
    <li class="follow-list__item">{{ 'linkedin.svg' | getInlineSVG | safe }}
      <a class="linkedin" href="https://nl.linkedin.com/in/rhbakker/" title="LinkedIn" rel="me noopener" target="_blank">LinkedIn</a>
    </li>
    <li class="follow-list__item">{{ 'github.svg' | getInlineSVG | safe }}
      <a class="github" href="https://github.com/robinbakker" title="GitHub" rel="me noopener" target="_blank">GitHub</a>
    </li>
  </ul>
</div>