<!doctype html>{%- if locale -%}
<html lang="{{ locale }}">{%- else -%}<html lang="en">{%- endif -%}
  <head>
    <meta charset="utf-8">
    {% if renderData.metaTitle %}
    {% set title = renderData.metaTitle %}
    {% elif site[locale].metaTitle %}
    {% set title = site[locale].metaTitle %}
    {% elif not title | length %}
    {% set title = "Robin Bakker" %}
    {% endif %}
    <title>{{ title }}</title>
    <link rel="preload" href="/assets/raleway-200.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/css/styles.css?v={{ site.buildTime }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
    {% if renderData.metaDescription %}
    {% set description = renderData.metaDescription %}
    {% elif site[locale].metaDescription %}
    {% set description = site[locale].metaDescription %}
    {% endif %}
		<meta name="description" content="{{ description }}">
		<meta property="og:title" content="{{ title }}">
		<meta property="og:description" content="{{ description }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://robinbakker.nl{{ page.url }}">
    {% if renderData.logo %}
    {% set logo = renderData.logo %}
    {% elif not logo | length %}
    {% set logo = "https://robinbakker.nl/assets/android-chrome-512x512.png" %}
    {% endif %}
		<meta property="og:image" content="{{ site.shareImage }}">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ site.twitter }}">
		<meta name="twitter:creator" content="{{ site.twitter }}">
    <meta name="theme-color" content="#1c1c1c" />
    {%- for language in site.languages %}
    <link rel="alternate" hreflang="{{ language.code }}" href="https://robinbakker.nl{{ '/'+language.code if language.code!='nl' }}{{ page.url }}">
    {%- endfor -%}
    <link rel="manifest" href="/manifest.json">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="webmention" href="https://webmention.io/robinbakker.nl/webmention" />
    <link rel="pingback" href="https://webmention.io/robinbakker.nl/xmlrpc" />
    <script defer src="/js/default.js?v={{ site.buildTime }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108430-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-108430-1', { 'anonymize_ip': true });
    </script>
    <script type="application/ld+json">{
      "name":"{{title}}",
      "description":"{{description}}",
      "author": {
        "@type":"Person",
        "name":"Robin Bakker"
      },
      "@type":"WebSite",
      "url":"https://robinbakker.nl",
      "image":"https://robinbakker.nl/assets/icon-512x512.png",
      "headline":"Robin Bakker",
      "sameAs":[
        "https://twitter.com/robinbakker",
        "https://www.linkedin.com/in/rhbakker",
        "https://github.com/robinbakker",
        "https://medium.com/@robinbakker"
      ],
      "@context":"http://schema.org"
    }</script>
  </head>
  <body>
    {% include "overlay.njk" %}    
    {{ content | safe }}
  </body>
</html>
