---
layout: layouts/base.njk
---
{% include "header.njk" %}
<main>
  {% if blogImage %}
    {% image blogImage, blogImageAlt, "header-image", [600, 800, 1024, 1200] %}
  {% endif %}
  <article itemscope itemtype="http://schema.org/BlogPosting" aria-labelledby="{{ title | slug }}-title" class="container h-entry">
    <header>
      <h1 id="{{ title | slug }}-title" class="blog-title p-name" itemprop="headline">{{ title }}</h1>
    </header>
    <p class="blog-description" class="p-summary">{{ description }}</p>
    <p class="blog-datetime">
      <time datetime="{{ page.date | dateISO(locale) }}" itemprop="datePublished" class="dt-published">{{ page.date | date(locale) }}</time>
    </p>
    <div itemprop="articleBody">
      {{ content | safe }}
    </div>
    {% if tags %}
      {% include "taglist.njk" %}
    {% endif %}
    <div class="blog-author">
      <p class="h-card p-author">
        <img class="u-photo" alt="{{ site.name }}" src="{{ site.baseUrl }}{{ site.logo }}"/>
        <a class="p-name u-url" rel="author" href="{{ site.baseUrl }}">{{ site.name }}</a>
      </p>
    </div>
  </article>
  {# {% set postlist = collections.posts | excludePage(page) | slice(-10) %}
  {% include "postlist.njk" %} #}
</main>
{% include "footer.njk" %}