---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/page.njk
eleventyComputed:
  title: {{ tag | titleCase }}
  description: Mijn blog posts over {{ tag }}
permalink: /blog/tag/{{ tag | slug }}/
---
<article>
  <header>
    <h1>{{ tag | titleCase }}</h1>
    <p>Mijn blog posts over {{ tag }}.</p>
  </header>
  {% set postlist = collections[tag] %}
  {% include "postlist.njk" %}
  <p>
    <a href="{{ '../' | url }}">Alle tags</a>
  </p>
</article>