---
permalink: "webstory.html"
---
<!DOCTYPE html>
<html ⚡>
  <head>
    <meta charset="utf-8" />
    <title>Robin Bakker</title>
    <link rel="canonical" href="webstory.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
    </style>
    <noscript
      ><style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style></noscript
    >
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-story" src="https://cdn.ampproject.org/v0/amp-story-1.0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet" />
    <style amp-custom>
      amp-story {
        font-family: 'Raleway', sans-serif;
        color: #fff;
      }
      amp-story-page {
        background-color: #000;
      }
      h1 {
        font-weight: bold;
        font-size: 2.875em;
        font-weight: normal;
        line-height: 1.174;
      }
      p {
        font-weight: normal;
        font-size: 1.3em;
        line-height: 1.5em;
        color: #fff;
      }
      q {
        font-weight: 300;
        font-size: 1.1em;
      }
      amp-story-grid-layer.bottom {
        align-content: end;
      }
      amp-story-grid-layer.noedge {
        padding: 0px;
      }
      amp-story-grid-layer.center-text {
        align-content: center;
      }
      .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
      }
      .banner-text {
        text-align: center;
        line-height: 1;
      }
      .subtitle {
        font-size: 2.4em;
        opacity: .66;
        line-height: 1;
      }
      .topzender-text {
        color: #000;
      }
    </style>
  </head>
  <body>
    <amp-story
      standalone
      title="Robin Bakker"
      publisher="Robin Bakker"
      publisher-logo-src="assets/icon-192x192.png"
      poster-portrait-src="assets/amp-bg-home.png"
    >
      <amp-story-page id="cover">
        <amp-story-grid-layer template="fill">
          <amp-img src="assets/amp-bg-home.png" width="720" height="1280" layout="responsive"> </amp-img>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical" class="center-text">
        <div class="banner-text" animate-in="fade-in">
          <h1>Robin Bakker</h1>
          <p class="subtitle">web developer</p>
          </div>
        </amp-story-grid-layer>
      </amp-story-page>

      <amp-story-page id="page1">
        <amp-story-grid-layer template="fill">
          <amp-img src="assets/amp-bg-1tuner.jpg" width="720" height="1280" layout="responsive"> </amp-img>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical">
        <amp-img src="assets/1tuner-logo.svg" width="432" height="157" layout="responsive"> </amp-img>
          <p>I created a web app to listen to radio and podcasts: 1tuner.com</p>
        </amp-story-grid-layer>
      </amp-story-page>

      <amp-story-page id="page2">
        <amp-story-grid-layer template="fill">
          <amp-img src="assets/amp-bg-topzender.png" width="720" height="1280" layout="responsive"> </amp-img>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="thirds">
          <amp-img src="assets/topzender-logo.svg" width="518" height="114" layout="responsive"> </amp-img>
          <p grid-area="lower-third" class="topzender-text">At topzender.nl you can find the most popular podcasts and radio stations of the Netherlands.</p>
        </amp-story-grid-layer>
      </amp-story-page>

      <amp-story-page id="page3">
        <amp-story-grid-layer template="fill">
          <amp-img src="assets/amp-bg-home.png" width="720" height="1280" layout="responsive"> </amp-img>
        </amp-story-grid-layer>
        <amp-story-grid-layer template="vertical" class="center-text">
            <amp-img src="assets/icon-512x512.png" width="512" height="512" layout="responsive"> </amp-img>
          <p class="banner-text" animate-in="fade-in">Thanks!</p>
        </amp-story-grid-layer>
      </amp-story-page>

      <!-- Bookend -->
      <amp-story-bookend src="bookend.json" layout="nodisplay"></amp-story-bookend>
    </amp-story>
  </body>
</html>
